body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 100px;
    font-weight: 700;   
}
.color1{
    color: #FFAD5A;
}
.first-section{
    display: flex;
}
.first-section-p1{
    padding-bottom: 40px;
    text-align: justify;
}
.first-section-p2{
    padding-top: 40px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.hireme-btn{
    text-decoration: none;
    /* background-color: #FF3C89; */
    background-image: linear-gradient(#FF3C89, tomato);
    padding: 20px 60px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}