body{
    font-family: 'Raleway', sans-serif;
    padding: 0px 100px;
}


.orange-color{
    color: #FFAD5A;
}



.first-section-h1{
    font-size: 100px;
    font-weight: 900;   
}
.first-section{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.first-section-p1{
    padding-bottom: 40px;
    text-align: justify;
}
.first-section-p2{
    padding-top: 40px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.hireme-btn{
    text-decoration: none;
    background-image: linear-gradient(#FF3C89, tomato);
    padding: 20px 60px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}




.second-section{
    margin-bottom: 250px;
}
.second-section-h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}
.second-section-box{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    height: 500px;
}
.img-size1{
    height: 250px;
    width: 250px;
}
.img-box1{
    padding: 50px;
    width: auto;
}
.img-box1 h1{
    font-weight: 900px;
    color: rgb(116, 5, 5);
}
.second-section-mission{
   
    border-radius: 20px;
    background-color: #EDF5F6;
    max-width: 30%;
}
.second-section-vission{
    border-radius: 20px;
    background-color: #FFEEEE;
    max-width: 30%;
}
.second-section-goals{
    border-radius: 20px;
    background-color: #FFF4D6;
    max-width: 30%;
}



.third-section{
    display: flex;
    gap: 50px;
    margin-bottom: 200px;
}
.third-section-h1{
    font-size: 80px;
    font-weight: 900;
}
.third-section-h2{
    padding-bottom: 50px;
}
.third-sec-img{
    height: 600px;
    width: 600px;
}
.documentation-btn{
    text-decoration: none;
    background-image: linear-gradient(#FF3C89, tomato);
    padding: 20px 60px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}




.fourth-section{
    display: flex;
    gap: 50px;
    margin-bottom: 200px;
}
.fourth-section-h1{
    font-size: 80px;
    font-weight: 900;
}
.fourth-section-h2{
    padding-bottom: 50px;
}
.fourth-sec-img{
    height: 600px;
    width: 600px;
}

.fifth-section{
    margin-bottom: 250px;
}
.fifth-section-h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}
.fifth-section-box{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    height: 500px;
}
.img-size2{
    height: 250px;
    width: 250px;
}
.img-box2{
    padding: 50px;
    width: auto;
}
.img-box2 h1{
    font-weight: 900px;
    color: rgb(116, 5, 5);
}
.fifth-section-mission{
   
    border-radius: 20px;
    background-color: #EDF5F6;
    max-width: 30%;
}
.fifth-section-vission{
    border-radius: 20px;
    background-color: #FFEEEE;
    max-width: 30%;
}
.fifth-section-goals{
    border-radius: 20px;
    background-color: #FFF4D6;
    max-width: 30%;
}



.footer-section{
    height: 200px;
    width: 100%;
    background-color: black;
}
.footer-h1{
    color: white;
    text-align: center;
}
.footer-h3{
    color: white;
    text-align: center;
}